#recipe-detail {
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #8b9692;
}

.row {
	margin-bottom: 10px;
}