input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

#recipe-edit {
	border: dashed black 2px;
	border-radius: 10px;
	padding: 10px; 
}

button {
	margin-bottom: 10px;
}

.description {
	margin-top: 10px;
}